/* MAIN SCREEN------------------------------------------------------------------------------------------------------------------------------ */
.main-screen {
    background: url('./assets/main-bg.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    height: 150vh;
    width: 100%;
}


.nav-main-screen {
    background-color: black;
    opacity: 0.5;
    height: 100px;
}
.nav-main-screen a {
    color: white;
    opacity: 1;                                         /*ini kenapa ga fungsi ya? text nya masih transparant*/
    font-weight: bold;
    letter-spacing: 4px;
}
.LOGO a {
    font-size: 42px;
    opacity: 1;                                         /*ini juga ga fungsi, text masih transparant*/
    padding: 15px 100px;
    margin-right: 100px;
}
.nav-menu a {
    padding: 35px 40px;
}
.SIGNUP {
    margin-left: 400px;
}


.main-text h1 {
    margin-top: 30vh;
    font-weight: bold;
    font-size: 96px;
    letter-spacing: 4px;
}
.main-text h3 {
    margin-top: 8vh;
    letter-spacing: 3px;
    font-weight: lighter;
}

.btn {
    margin-top: 8vh;
    width: 300px;
    height: 65px;
    font-size: 24px;
    font-weight: bold;
}
.main-text h4 {
    margin-top: 50vh;
    font-size: 18px;
}

/* PAGE2: THE GAMES-------------------------------------------------------------------------------------------------------------------------- */
.the-games {
    background: url('./assets/the-games-bg.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    height: 150vh;
    width: 100%;
}

.the-games h3 {
    margin-top: 30vh;
    margin-left: 150px;
    letter-spacing: 3px;
}
.the-games h1 {
    margin-left: 150px;
    font-size: 76px;
    letter-spacing: 4px;
}

.slide {
    margin-right: 250px;
}

/* PAGE3: FEATURES--------------------------------------------------------------------------------------------------------------------------- */
.features {
    background: url('./assets/features.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    height: 150vh;
    width: 100%;
}
.head-a h3 {
    margin-top: 40vh;
    letter-spacing: 3px;
    font-weight: lighter;
}
.head-b h1 {
    font-size: 86px;
    letter-spacing: 5px;
}
.head-c {
    margin-top: 7vh;
}
.head-c h3 {
    margin-top: 7vh;
    color: goldenrod;
    letter-spacing: 3px;
}
.head-c h4 {
    margin-top: 7px;
    font-weight: lighter;
    word-spacing: 5px;
}

/* PAGE4: SYSTEM REQUIREMENTS---------------------------------------------------------------------------------------------------------------- */
.sys-requirements {
    background: url('./assets/requirements.png') no-repeat; /*di gambar ini sepertinya ada gradient hitam, gimana ini?*/
    background-position: center;
    background-size: cover;
    color: white;
    height: 150vh;
    width: 100%;
}
.req-a h4 {
    margin-top: 20vh;
    font-weight: lighter;
    text-align: center;
    letter-spacing: 3px;
}
.req-b {
    margin-left: 150px;
}
.req-a h1 {
    margin-top: 20vh;
    margin-left: 160px;
    font-size: 76px;
    font-family: Arial, Helvetica, sans-serif;
}
.req-b h1 {
    font-size: 76px;
    font-family: Arial, Helvetica, sans-serif;
}

.table-bordered {
    margin-top: 20vh;
}
.table h3 {
    color: goldenrod;
    padding-left: 13px;
}
.table h4 {
    color: white;
    padding-left: 13px;
    font-weight: lighter;
}

/* PAGE5: TOP SCORES------------------------------------------------------------------------------------------------------------------------- */
.scores {
    background: url('./assets/top-score.png') no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    height: 150vh;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.sc-left {
    margin-top: 550px;
    margin-left: 150px;
}
.sc-left h1 {
    font-size: 76px;
}
.sc-left h4 {
    padding-top: 7px;
    letter-spacing: 1.5px;
    font-size: 20px;
}

.sc-right {
    margin-top: 350px;
}
.score1 {
    border-radius: 15px;
    background-color: rgb(44, 44, 44);
    margin-top: 30px;
}
.avatar {
    border-radius: 50%;
    box-shadow: 10px 6px 0px 0px rgb(255, 196, 0);
}
.score1 h2 {
    color: goldenrod;
}
.score1 h3 {
    color: rgb(126, 126, 126);
    font-size: 22px;
}
.score1 h4 {
    margin-top: 30px;
}
.score1 h5 {
    color: rgb(126, 126, 126);
    font-size: 16px;
    margin-top: 10px;
}

/* PAGE6: NEWSLETTER SUBS-------------------------------------------------------------------------------------------------------------------- */
.newsletter {
    background: url('./assets/newsletter.png') no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    height: 150vh;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.subscription {
    margin-top: 30vh;
}
.subscription h3 {
    letter-spacing: 2px;
}
.subscription h1 {
    font-size: 92px;
}
.subscription h4 {
    letter-spacing: 2px;
    margin-right: 250px;
    font-size: 18px;
}
#floatingInputValue {
    background-color: rgb(29, 29, 29);
    color: goldenrod;
    font-size: 24px;
    height: 65px;
}
.input-subs {
    color: rgb(182, 182, 182);
    margin-top: 8vh;
}

.foot-bottom {
    margin-top: 50vh;
    text-align: right;
}
.foot-menu {
    display: inline;
}
.foot-menu a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-right: 50px;
}
.icon-f {
    margin-left: 50px;
}
.foot-menu-icon {
    display: inline;
    margin-left: 70px;
}
.bar-line {
    margin-top: 50px;
}
.copyright-foot h1 {
    font-size: 20px;
    color: rgb(79, 79, 79);
    font-weight: lighter;
    text-align: left;
    margin-top: 10px;
}
.terms-foot h3 {
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 10px;
}